body {
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

main {
    margin-top: 20px;
}

div {
    margin: 10px 0;
}

input, .zone {
    padding: 10px 0 10px 5px;
}

h1 {
    background-color: #333366;
    color: #fff;
    padding: 20px;
}

.button {
    background: #b20000;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    margin: 5px 0 10px 0;
    text-decoration: none;
}

#zones {
    display: none;
}

.pr-18 {
    padding-right: 18px;
}