<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <img src="./images/usps.png" class="logo" alt="USPS logo">
    <h1>Calculate Postage</h1>
    <p>Determine the postage required for a single piece of retail first-class mail</p>
    <a class="btn btn-lg btn-default" href="./calculator.html"><span class="glyphicon glyphicon-usd"></span>Calculator</a>
  </div>
</div>
</body>
</html>
